body {
  background-color: blue;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* colors */
.red {
  background-color: red;
}

.white {
  background-color: white;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}
